1) What are data structures, and why are they important?

-> Data Structure ia a way of organizing and storing data in python. It is important because it helps in easy manupulation and accessing of data


2) Explain the difference between mutable and immutable data types with examples?

-> In mutable data types we can change the values after it is created while in immutable we cannot change the values after the data is created.


3)What are the main differences between lists and tuples in Python?

-> List in python are mutable i.e. it can be changed after it is created and is enclosed in [] while tuples are immutable i.e. it cant be changed after it is created and is enclosed in ().


4)Describe how dictionaries store data?

-> It stores data in the form of key value pairs where we can access the values with the help of the unique keys available for each value it is similar to lists but in place of numbers it uses keys as indexing.


5)Why might you use a set instead of a list in Python?

-> In set there will be no repeatation of a value but in lists repeatation occurs, so in cases where we have to make sure only a unique value is stored such as roll numbers or phone numbers we use set.


6)What is a string in Python, and how is it different from a list?

-> String in python is a sequence of characters enclosed within single/double quotes. Strings in python are immutable i.e. it cant be changed after its creation so its different from lists as its a mutable data type.


7)How do tuples ensure data integrity in Python?

-> Tuples are immutable you cant change its content after ts creation which hepls to protect the integrity of data in python.


8)What is a hash table, and how does it relate to dictionaries in Python?

-> A hash table is a data structure that stores data in key–value pairs and allows very fast lookups, insertions, and deletions. A dictionary in python is implemented with hash table.


9)Can lists contain different data types in Python?

-> Yes list can contain different types of data as it is a heterogeneous data structure.


10)Explain why strings are immutable in Python?

-> In Python, strings are immutable, meaning once a string is created, it cannot be changed. If you try to modify it, Python actually creates a new string object instead of altering the original one.


11)What advantages do dictionaries offer over lists for certain tasks?

-> Dictionaries in Python offer several advantages over lists for certain tasks. The most important benefit is speed: dictionaries provide very fast lookups because they use hash tables, while lists require sequential searches. Another advantage is that dictionaries store data as key-value pairs, which makes information more structured and readable compared to lists that only use integer indices.


12)Describe a scenario where using a tuple would be preferable over a list.?

-> A tuple would be preferable in storing import data where integrity is important as it is immutable for exmple it can be used to store employee id of employees in a code that will shopw which employees are going to be promoted here the employee-id's who are about to get promoted will not be altered


13)How do sets handle duplicate values in Python?

-> In set only unique values will be stored no matter how many times you have inputted a character as while printing it will print the characters once and will remove the duplicate ones automatically.


14)How does the “in” keyword work differently for lists and dictionaries?

-> In Python, the “in” keyword behaves differently for lists and dictionaries. When used with a list, it checks whether a value exists as an element by scanning the list sequentially. when used with a dictionary, "in" checks only the keys, not the values.Thus, "in" tests elements in lists but keys in dictionaries.


15)Can you modify the elements of a tuple? Explain why or why not?

-> We cannot modify elements in a tuple as it is immutable which means we cant change its elements after its creation.


16)What is a nested dictionary, and give an example of its use case?
A nested dictionary ia a dictionary where we have other dictionaries in place of the values of its keys.It can be used to store employee information for a office . For example:-
employees = {
    "E001": {
        "name": "Alice",
        "age": 28,
        "department": "HR",
        "skills": ["Communication", "Recruitment"]
    },
    "E002": {
        "name": "Bob",
        "age": 32,
        "department": "IT",
        "skills": ["Python", "Data Analysis", "Machine Learning"]
    },
    "E003": {
        "name": "Charlie",
        "age": 26,
        "department": "Finance",
        "skills": ["Excel", "Accounting"]
    }
} here the ids are keys of the primary dictionary while name,age,dept,skills are keys of the inner dictionaries.


17)Describe the time complexity of accessing elements in a dictionary?

-> Accessing elements in a dictionary in Python is generally very efficient because dictionaries are implemented using hash tables. The average time complexity for accessing an element by its key is O(1), meaning it takes constant time regardless of the dictionary size. This happens because the key is first hashed, and its hash value directly points to the location of the corresponding value in memory. in wrost case its time complexity is O(n) i.e. when we have two or more same keys.


18)In what situations are lists preferred over dictionaries?

-> Lists are preferred over dictionaries in situations where the order of elements matters or when you simply need to store a sequence of values without key-value mapping. For example, lists are ideal when you want to maintain elements in the order they are inserted, access items by their position (index), or when duplicate values are allowed. They are also simpler and use less memory compared.


19)Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries are considered unordered because their elements are stored based on hash values of keys, not in the order they were inserted (though from Python 3.7+ insertion order is preserved as an implementation detail). This means you can't rely on the position of items for retrieval like in a list; instead, you must access values directly using their keys ,data retrieval is always key-based, not index-based.

20)Explain the difference between a list and a dictionary in terms of data retrieval?

-> Data retrieval is always key-based, not index-based as the data in dictionaries is stored based on the hash values of the keys and thus are un-ordered while in list data is stored in order.This means you can't rely on the position of items for retrieval like in a list

In [1]:
# 21. Write a code to create a string with your name and print it
name = "Sandipon"
print(name)

Sandipon

In [2]:
# 22. Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [4]:
# 23. Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [6]:
# 24. Write a code to convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [7]:
# 25. Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [8]:
# 26. Write a code to create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [11]:
# 27. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [15]:
# 28. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [16]:
# 29. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [26]:
# 30. Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [27]:
# 31. Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [29]:
# 32. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup = ('red', 'green', 'blue', 'yellow')
print(tup[1:])

('green', 'blue', 'yellow')

In [30]:
# 33. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tup = (10, 20, 5, 15)
print(min(tup))

5

In [31]:
# 34. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

In [32]:
# 35. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

In [35]:
# 36. Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [36]:
# 37. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [38]:
# 38. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [39]:
# 39. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [40]:
# 40. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [41]:
# 41. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d = {"name": "Alice", "age": 25, "city": "Paris"}
print(d)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [42]:
# 42. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [48]:
# 43. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d = {'name': 'Alice', 'age': 30}
print(d.get("name"))

Alice

In [47]:
# 44. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [49]:
# 45. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [53]:
# 46. Write a code to create a list, a tuple, and a dictionary, and print them all
lst = [1, 2, 3]
tup = (4, 5, 6)
d = {"a": 1, "b": 2}
print("list is {}\ntuple is {}\ndictionary is{}".format(lst,tup,d))

list is [1, 2, 3]
tuple is (4, 5, 6)
dictionary is{'a': 1, 'b': 2}

In [60]:
# 47. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
lst = [-4,99,23,8,76]
lst.sort()
print(lst)

[-4, 8, 23, 76, 99]

In [62]:
# 48. Write a code to create a list with strings and print the element at the third index
lst = ["apple", "banana", "cherry", "date","mango"]
print(lst[3])

date

In [71]:
# 49. Write a code to combine two dictionaries into one and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [76]:

# 50. Write a code to convert a list of strings into a set
lst = ["apple", "banana", "apple", "cherry"]
s = set(lst)
print(s)

{'cherry', 'banana', 'apple'}